.d-flex.flex-column.align-items-center.edit-user
  .newsletters-form-wrap
    h1.text-center.default-title
      = "Edit #{resource_name.to_s.humanize}"
    = form_for resource, as: resource_name, url: registration_path(resource_name),
      html: { method: :put, class: 'edit-user-form', novalidate: true } do |f|
      - if resource.errors.present?
        = devise_error_messages!
      .form-group
        = f.label :email, class: 'newsletters-form__label'
        = f.email_field :email, autofocus: true, class: 'newsletters-form__input'

      .form-group
        -if devise_mapping.confirmable? && resource.pending_reconfirmation?
          = "Currently waiting confirmation for: #{resource.unconfirmed_email}"

      .form-group
        = f.label :password, class: 'newsletters-form__label'
        br
        p.text-muted
          | (leave blank if you don't want to change it)
        = f.password_field :password, autocomplete: 'off', class: 'newsletters-form__input'

      .form-group
        = f.label :password_confirmation, class: 'newsletters-form__label'
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'newsletters-form__input'

      .form-group
        = f.label :current_password, class: 'newsletters-form__label'
        = f.password_field :current_password, autocomplete: 'off', class: 'newsletters-form__input'

      .newsletters-form-btns.edit-user-btns
        = f.submit 'Update Profile', class: 'newsletters-form__btn edit-user-btns__btn'
        = link_to 'Delete my account', registration_path(resource_name),
          data: { confirm: "Are you sure?" }, method: :delete,
          class: 'newsletters-form__btn edit-user-btns__btn'
