.d-flex.justify-content-center.sign-up
  .newsletters-form-wrap
    h1.text-center.default-title.sign-up__title Sign Up
    = form_for resource, as: resource_name, url: registration_path(resource_name),
      html: { class: 'sign-up-form', novalidate: true } do |f|
      - if resource.errors.present?
        = devise_error_messages!
      .form-group
        = f.label :email, class: 'newsletters-form__label'
        = f.email_field :email, autofocus: true, class: 'newsletters-form__input'
      .form-group
        = f.label :password, class: 'newsletters-form__label'
        = f.password_field :password, class: 'newsletters-form__input'
      .form-group
        = f.label :password_confirmation, class: 'newsletters-form__label'
        = f.password_field :password_confirmation, class: 'newsletters-form__input'
      .newsletters-form-btns.sign-up-item
        = f.submit 'Sign Up', class: 'newsletters-form__btn sign-up-item__btn'
        = link_to 'Sign In', new_user_session_path, class: 'newsletters-form__btn'
