.newsletters-catalog
  h1.text-center.newsletters-catalog__title Everything you want to know, can search in katalog
  .newsletters-card-list
    - @newsletters.each do |n|
        .card.newsletters-card.newsletters-card-gradient
          .card-body.newsletters-card-overlay
            .newsletters-card-content__background
            .newsletters-card-content
              = link_to n.title, n, class: 'card-title newsletters-card-content__title'
              / p.card-text.newsletters-card-txt__description = "#{n.description}"
              .newsletters-card-author
                = image_tag 'http://fillmurray.com/500/500', class: 'newsletters-card-author__img'
                p.newsletters-card-author__name Phil Murray
