.d-flex.flex-column.newsletter-page
  h1.text-center.default-title.newsletter-page__title = @newsletter.title
  p.text-center.newsletter-page__description = @newsletter.description

  = render 'subscribers/form'

  = render 'links/form'

  .newsletter-issues-list.d-flex.flex-column.align-items-center
    - @issues.each do |issue|
        .card.issue-card
          .card-body
            span.issue-card__num
              = issue.display_number
            .issue-card-content
              .issue-card-content-top
                => link_to issue.title, newsletter_issue_path(@newsletter, issue), class: 'issue-card-content-top__name'
                span.issue-card-content-top__date
                  = issue.created_at
              p.issue-card-content__description
                = truncate(issue.content, length: 70)
    hr
  = paginate @issues
br
