.d-flex.flex-column.align-items-center.edit-newsletter
  h1.default-title.edit-newsletter__title Newsletter settings

  .newsletters-form-wrap
    = form_for [:app, @newsletter], html: {class: 'edit-newsletter-form'} do |f|

      .form-group.edit-newsletter-item
        p.newsletters-form__label Newsletter title
        p.text-muted How about your name, or the topic you’ll write about?
        = f.text_field :title, class: 'newsletters-form__input'

      .form-group.edit-newsletter-item
        p.newsletters-form__label Newsletter description
        p.text-muted Describe what your issues will be about
        = f.text_area :description, class: 'newsletters-form__input edit-newsletter-item__textarea', rows: 3

      .form-group.edit-newsletter-item
        p.newsletters-form__label Welcome text
        p.text-muted
          | Enter a welcome message that will be sent to new subscribers
        = f.text_area :welcome_text, class: 'newsletters-form__input edit-newsletter-item__textarea', rows: 3

      .form-group.edit-newsletter-item
        p.newsletters-form__label Newsletter slug
        p.text-muted Slug
        = f.text_field :slug, class: 'newsletters-form__input'

      .newsletters-form-btns
        = f.submit 'Save', class: 'newsletters-form__btn'
