.d-flex.flex-column.align-items-center.view-newsletter
  h1.default-title = @newsletter.title
  p.view-newsletter__description = @newsletter.description

  - @issues.each do |issue|
    .card.issue-card
      .card-body
        span.issue-card__num
          = issue.display_number
        .issue-card-content
          .issue-card-content-top
            => link_to issue.title, newsletter_issue_path(@newsletter, issue), class: 'issue-card-content-top__name'
            span.issue-card-content-top__date
              = issue.created_at
          p.issue-card-content__description
            = truncate(issue.content, length: 70)

  = paginate @issues
