.d-flex.justify-content-center.links
  .newsletters-form-wrap
    = form_for [@newsletter, @link] do |f|
      - if @link.errors.any?
        = render 'layouts/object_errors', object: @link

      .form-group
        = f.label :url, class: 'newsletters-form__label'
        = f.text_field :url,   class: 'newsletters-form__input'
      .form-group
        = f.label :title, class: 'newsletters-form__label'
        = f.text_field :title,  class: 'newsletters-form__input'
      .form-group
        = f.label :description, class: 'newsletters-form__label'
        = f.text_field :description,  class: 'newsletters-form__input'
      .newsletters-form-btns
        = f.submit 'Offer link', class: 'newsletters-form__btn'
