.d-flex.justify-content-center.sign-in
  .newsletters-form-wrap
    h1.text-center.default-title.sign-in__title Sign In
    = form_for resource, as: resource_name, url: session_path(resource_name),
      html: { class: 'sign-in-form', novalidate: true } do |f|
      .form-group
        = f.label :email, class: 'newsletters-form__label'
        = f.email_field :email, autofocus: true, class: 'newsletters-form__input'
      .form-group
        = f.label :password, class: 'newsletters-form__label'
        = f.password_field :password, class: 'newsletters-form__input'
      .newsletters-form-btns.sign-in-item
        = f.submit 'Sign In', class: 'newsletters-form__btn sign-in-item__btn'
        = link_to 'Sign Up', new_user_registration_path, class: 'newsletters-form__btn '
