.d-flex.justify-content-center.subscriber
  .newsletters-form-wrap
    = form_for [@newsletter, @subscriber] do |f|
      - if @subscriber.errors.any?
        = render 'layouts/object_errors', object: @subscriber

      .form-group
        = f.label :name, class: 'newsletters-form__label'
        = f.text_field :name,   class: 'newsletters-form__input'
      .form-group
        = f.label :email, class: 'newsletters-form__label'
        = f.text_field :email,  class: 'newsletters-form__input'
      .newsletters-form-btns
        = f.submit 'Subscribe', class: 'newsletters-form__btn'
