.alerts-list {
  position: absolute;
  width: inherit;
  left: 0;
  right: 0;

  .row {
    div {
      opacity: 0.9;
      transition: opacity .3s;
      z-index: 99999;

      &:hover {
        opacity: 1.0;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}

.alert {
  position: relative;
  right: 15px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 15px 36px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  border: none;
  .close {
    width: 50px;
    padding: 0;
  }
}

.alert-dismissible {
  .close {
    font-family: 'Lato', sans-serif;
    color: #fff;
    opacity: 1;
    position: absolute;
    top: -13px;
    left: 212px;
  }
}

.alert-alert {
  background: #cf432c;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
  .close {
    left: 228px;
    span {
      background: #cf432c;
      border-radius: 50%;
      padding: 8px 17px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
    }
  }
  @extend .alert-danger;
}

.alert-notice {
  width: 235px;
  background: #66bb6a;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
  .close {
    left: 212px;
    span {
      background: #66bb6a;
      border-radius: 50%;
      padding: 8px 17px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 5px 5px 12px 0px rgba(0, 0, 0, 0.24);
    }
  }
  @extend .alert-success;
}

.alert-success {
  width: 305px;
  background: #66bb6a;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
  .close {
    left: 281px;
    span {
      background: #66bb6a;
      border-radius: 50%;
      padding: 8px 17px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);

    }
  }
}

.alert-danger {
  background: #cf432c;
  right: 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
  justify-content: center;
}
