/*
 *= require font-awesome
*/

@import 'bootstrap';
@import 'default';
@import 'navbar';
@import 'alerts';
@import 'newsletters-main';
@import 'auth';
@import 'registration';
@import 'newsletters-catalog';
@import 'newsletter';
@import 'issues';
@import 'subscriber-form';
@import 'links-form';
@import 'pagination';
@import 'new-issue';
@import 'edit-newsletter';
@import 'view-newsletter';
@import 'issue';
@import 'edit-issue';
@import 'edit-user';
@import 'media';

body {
  background-color: #eeeeee;
}

.main-content {
  margin-top: 1rem;
}

ul.pagination {
  justify-content: center;
}

.object-errors {
  ul {
    margin-bottom: 0;
  }
}
