.sign-in {
  flex-grow: 1;
}

.sign-in__title {
  margin: 35px 0 70px 0;
}

.sign-in-item__btn {
  margin-right: 40px;
}

#error_explanation {
  ul {
    margin-bottom: 0;
  }
}

.field_with_errors {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="checkbox"],
  input[type="radio"], {
    @extend .form-control;
    @extend .is-invalid;

    &:focus {
      border-color: #dc3545;
    }
  }
}
