body {
  margin: 0;
}

img {
  width: 100%;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  width: 100%;
  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
  }
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:focus {
    text-decoration: none;
    color: #fff;
    outline: none;
  }
}

// Default tile and form elements

.default-title {
  font-family: 'Lato', sans-serif;
  margin: 35px 0 30px 0;
}

.newsletters-form-wrap {
  width: 500px;
}

.newsletters-form__label {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.newsletters-form__input {
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 10px;
  transition: all .3s ease;
  &:focus {
    border: 1px solid #6f43d6;
    transition: all .3s ease;
  }
}

.newsletters-form-btns {
  display: flex;
  justify-content: center;
}

.newsletters-form__btn {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #6f43d6;
  border: 1px solid #6f43d6;
  border-radius: 35px;
  max-width: 150px;
  padding: 5px 30px;
  transition: all .3s ease;
  margin: 30px 0 0 0;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: #6f43d6;
    border: 1px solid #6f43d6;
    transition: all .3s ease;
  }
}

// Default issue cards

.issue-card {
  width: 700px;
  height: 192px;
  transition: all .3s ease;
  &:hover {
    transition: all .3s ease;
  }
}

.issue-card__date {
  display: flex;
  justify-content: space-between;
  font-family: Open-Sans;
  color: #a09a9a;
}

.issue-card__name {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #000;
}

.issue-card__link {
  font-weight: 900;
  color: #3615a3;
  transition: all .3s ease;
  &:hover {
    color: #6f43d6;
    transition: all .3s ease;
  }
  &:focus {
    color: #6f43d6;
    transition: all .3s ease;
  }
}
