.edit-newsletter {
  flex-grow: 1;
  margin-bottom: 100px;
}

.edit-newsletter__title {
  margin: 35px 0 70px 0;
}

.edit-newsletter-item {
  margin-bottom: 50px;
}

.edit-newsletter-item__textarea {
  &:focus {
    outline: none;
  }
}
