.issue {
  margin-bottom: 100px;
  small {
    font-size: 14px;
    display: flex;
    i {
      font-family: 'Opens Sans', sans-serif;
    }
  }
}

.issue-btn-wrap {
  display: flex;
  margin-top: 100px;
}

.issue-title {
  margin: 35px 0 70px 0;
}

.issue-content {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-bottom: 70px;
}

.issue-btn-wrap__btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #6f43d6;
  background-color: #6f43d6;
  color: #fff;
  border-radius: 3px;
  padding: 6.5px 16px;
  margin: 6px 0;
  max-width: 110px;
  text-transform: uppercase;
  transition: all .3s ease;
  &:hover {
    background: transparent;
    color: #6f43d6;
    transition: all .3s ease;
  }
  &:first-child {
    margin-right: 40px;
  }
}

.issue__send-btn {
  max-width: 119px;
  cursor: pointer;
}
