.issue-card {
  background: transparent;
  border: none;
  border-bottom: 1px solid #acacac;
  border-radius: 0;
  .card-body {
    display: flex;
    align-items: center;
    padding: 40px 0;
  }
}

.issue-card__num {
  background: #3615a3;
  font-family: 'Raleway', sans-serif;
  font-size: 29px;
  color: #eeeeef;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 8px 0px rgba(0,0,0,0.24);
  margin-right: 25px;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.issue-card-content {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #000;
}

.issue-card-content-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.issue-card-content-top__name {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #3615a3;
  transition: all .3s ease;
  &:hover {
    color: #6f43d6;
    transition: all .3s ease;
  }
  &:focus {
    color: #6f43d6;
    transition: all .3s ease;
  }
}

.issue-card-content-top__date {
  font-family: 'Open-Sans', sans-serif;
  font-size: 12px;
  color: #a09a9a;
  margin-left: 16px;
  margin-bottom: 0;
}

.issue-card-content__description {
  margin-bottom: 0;
}
