/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

/*---- Newsletter catalog ----*/

.newsletters-card-gradient {
  &:nth-child(odd) {
    margin: 0px 10px 20px 0px;
  }
  &:nth-child(even) {
    margin: 0px 0px 20px 10px;
  }
}

.newsletters-card-list {
  justify-content: center;
}

.newsletters-card-overlay {
  width: 426px;
}

}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

/*---- Navbar ----*/

.user-list__signin-up {
  display: none;
}

.user-list__item {
  .fa-sign-in {
    display: block;
  }
  .fa-user-plus {
    display: block;
    font-size: 17px;
  }
}

.user-list__link {
  font-size: 17px;
}

/*---- Sign in form ----*/

.sign-in {
  margin: 40px 0 100px;
}

/*---- Sign up form ----*/

.sign-up {
  margin-top: 40px;
}

/*---- Newsletter catalog ----*/

.newsletters-card-gradient {
  &:nth-child(odd) {
    margin: 0px 0px 20px 0px;
  }
  &:nth-child(even) {
    margin: 0px 0px 20px 0px;
  }
}

.newsletters-card-overlay {
  width: 470px;
}

.default-title {
  padding: 0 20px;
}

.edit-newsletter__title {
  text-align: center;
}

}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

/*---- Newsletter catalog ----*/

.newsletters-main__title {
  text-align: center;
  padding: 0 20px;
}

/*---- Newsletter issues ----*/

.issue-card {
  width: 100%;
}

.issue-card-content__description {
  max-width: 405px;
  width: 100%;
}

.view-newsletter {
  padding: 0 20px;
}

.issue {
  margin-top: 105px;
}

.alert-success {
  right: 30px;
}

}



@media only screen and (max-width : 700px) {

.alert {
  // right: 40px;
}

}



/* Small Devices, Tablets */
@media only screen and (max-width : 576px) {

/*---- Navbar ----*/

.header-inner {
  flex-direction: column;
}

.user-list {
  margin-top: 30px;
}

.newsletters-form-wrap {
  width: 100%;
  padding: 0 20px;
}

/*---- Newsletter catalog ----*/

.newsletters-card-list {
  flex-direction: column;
  padding: 0 20px;
}

.newsletters-card-gradient {
  padding: 22px;
}

.newsletters-card-overlay {
  width: 100%;
  margin: 0;
}

/*---- Newsletter issues ----*/

.newsletter-issues-list {
  padding: 0 20px;
}

.issue-card__num {
  background: none;
  color: #3615a3;
  box-shadow: none;
  border: none;
  width: auto;
  height: auto;
}

.alert-success {
  right: 35px;
}

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.newsletters-form-btns {
  flex-direction: column;
  align-items: center;
}

.edit-user-btns__btn {
  &:last-child {
    margin-left: 0;
  }
}

.new-issue-item__btn {
  &:last-child {
    margin-left: 0;
  }
}

}



@media only screen and (max-width : 400px) {

.alert-success {
  right: 42px;
  width: 250px;
  .close {
    left: 227px;
  }
}

.issue-card-content-top__date {
  width: 100px;
  text-align: right;
}

}



@media only screen and (max-width : 390px) {

.newsletters-card-content__title {
  width: 195px;
}

}



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
	/**/
