.header-inner {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin: 35px 0;
}

.header-inner__link {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #000;
  transition: all .3s ease;
  &:hover {
    color: #6f43d6;
    transition: all .3s ease;
  }
  &:focus {
    color: #6f43d6;
  }
}

.logo__link {
  font-weight: 900;
  font-size: 25px;
}

.navbar {
  padding: 0;
}

.user-list {
  align-items: center;
}

.user-list__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  .fa {
    color: #6f43d6;
  }
  .fa-sign-in {
    display: none;
  }
  .fa-user-plus {
    display: none;
  }
}

.user-dropdown-mnu {
  left: -147px;
  top: 35px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

.user-dropdown-mnu__link {
  padding: 10px 24px;
  transition: all .3s ease;
  &:hover {
    color: #fff;
    background: #6f43d6;
    transition: all .3s ease;
  }
}

.user-list__signin-up {
  border: 1px solid #6f43d6;
  background-color: #6f43d6;
  color: #fff;
  padding: 5px 30px;
  transition: all .3s ease;
  border-radius: 35px;
  &:hover {
    background: transparent;
    color: #6f43d6;
    transition: all .3s ease;
  }
}
