.new-issue {
  flex-grow: 1;
  margin-bottom: 100px;
}

.new-issue-form__textarea {
  &:focus {
    outline: none;
  }
}

#issue_send_at {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  left: 50%;
  margin-top: 20px;
  border: 3px solid #6f43d6;
  border-radius: 10px;
  padding: 6px 20px;
  transform: translateX(-50%);
}

.new-issue-item__btn {
  max-width: 170px;
  &:last-child {
    margin-left: 40px;
  }
}
