.newsletters-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.newsletters-catalog__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 160px 0 300px;
}

.newsletters-card-gradient {
  position: relative;
  background: linear-gradient(to bottom right, #673ab7, #9575cd);
  z-index: 1;
  border: none;
  border-radius: 10px;
  transition: all .9s ease;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, #673ab7, #9575cd, #d1c4e9);
    z-index: 2;
    opacity: 0;
    transition: all .9s ease;
    border-radius: 10px;
  }
  &:hover {
    &:before {
      opacity: 1;
      transition: all .9s ease;
    }
    .newsletters-card-content__background {
      transform: scale(1.1);
      transition: all .9s ease;
    }
  }
  &:nth-child(even) {
    margin: 0px 0px 40px 20px;
  }
  &:nth-child(odd) {
    margin: 0px 20px 40px 0px;
  }
}

.newsletters-card-content__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 23px;
}

.newsletters-card-overlay {
  position: relative;
  width: 470px;
  height: 195px;
  overflow: hidden;
  margin: 22px;
  border-radius: 10px;
  z-index: 5;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 14px 5px rgba(0, 0, 0, 0.24);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
  }
}

.newsletters-card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 155px;
}

.newsletters-card-content__background {
  background: url(https://static.pexels.com/photos/34950/pexels-photo.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
  transition: all .9s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.newsletters-card-author {
  display: flex;
  align-items: center;
}

.newsletters-card-author__img {
  width: 55px;
  border-radius: 50%;
}

.newsletters-card-author__name {
  margin-left: 12px;
  margin-bottom: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
