.page-link {
  color: #291025;
  border: 1px solid #eeeeee;
  transition: all .3s ease;
  &:hover {
    background: #eeeeee;
    border-color: #eeeeee;
    color: #291025;
    transition: all .3s ease;
  }
}

.page-item.active {
  .page-link {
    color: #fff;
    background: #291025;
    border-color: #291025;
    &:hover {
      color: #fff;
      background: rgba(#291025, 0.80);
      transition: all .3s ease;
    }
  }
}
