= form_for [:app, @issue], html: {class: 'new-issue-form'} do |f|
  - if @issue.errors.any?
    = render 'layouts/object_errors', object: @issue

  .form-group
    = f.label :content, class: 'newsletters-form__label'
    = f.text_area :content, class: 'newsletters-form__input new-issue-form__textarea', rows: 6
    - unless @issue[:sent_at]
      = datetime_local_field(:issue, :send_at)
  .newsletters-form-btns.new-issue-form-btns
    => f.submit 'Save', class: 'newsletters-form__btn new-issue-item__btn'
    => link_to 'Save & Submit', '#', class: 'newsletters-form__btn new-issue-item__btn'
