.issue
  h1.default-title.issue-title = @issue.title

  p.issue-content
    = @issue.content

  small.text-muted
    i
      - if @issue[:sent_at]
        = "Issue was sent on #{@issue[:sent_at]}"
      - elsif @issue[:send_at]
        = "Issue will depart on #{@issue[:send_at]}"

  - unless @issue[:sent_at]
    - if @issue[:send_at]
      = button_to 'Send issue',
        app_issues_send_path,
        data: { confirm: "You have planned to send your issue on #{@issue[:send_at]}. Do you want to send it now?" },
        class: 'issue-btn-wrap__btn issue__send-btn'

    - else
      = button_to 'Send issue',
        app_issues_send_path,
        data: { confirm: "Are you sure?" },
        class: 'issue-btn-wrap__btn issue__send-btn'

  .issue-btn-wrap
    => link_to 'Edit', edit_app_issue_path(@issue), class: 'issue-btn-wrap__btn'
    = link_to 'Destroy', [:app, @issue], data: { confirm: 'Are you sure?' },
    method: :delete, class: 'issue-btn-wrap__btn'
