.alerts-list.container
  - flash.each do |flash_type, flash_content|
    .row.justify-content-end
      div{class="alert alert-#{flash_type} alert-dismissible fade show" role="alert"}
        = button_tag class: 'close', data: { dismiss: 'alert' }, aria: { label: 'Close' } do
          span aria-hidden="true"
            | &times;
        = flash_content
