header.header
  .container
    .row
      .header-inner
        .logo
          = link_to 'Random Newsletter', root_path, class: 'header-inner__link logo__link'
        .user
          nav.navbar.navbar-expand-lg.navbar-expand.navbar-light.user-nav
              ul.navbar-nav.user-list
                li.nav-item.user-list__item
                  = link_to 'Newsletters', newsletters_path, class: 'header-inner__link user-list__link'
                - if user_signed_in?
                  li.nav-item.user-list__item
                    = link_to 'New issue', new_app_issue_path, class: 'header-inner__link user-list__link'
                  li.nav-item.dropdown.user-list__item
                    a#navbarDropdownMenuLink.dropdown-toggle.header-inner__link aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="http://example.com"
                      / = current_user.email
                      i.fa.fa-user-o aria-hidden="true"
                    .user-dropdown-mnu.dropdown-menu aria-labelledby="navbarDropdownMenuLink"
                      = link_to 'Newsletter settings', edit_app_newsletter_path,
                        class: 'dropdown-item header-inner__link user-dropdown-mnu__link'
                      = link_to 'View your newsletter', app_newsletter_path,
                        class: 'dropdown-item header-inner__link user-dropdown-mnu__link'
                      = link_to 'Your settings', edit_user_registration_path,
                        class: 'dropdown-item header-inner__link user-dropdown-mnu__link'
                      = link_to 'Logout', destroy_user_session_path, method: :delete,
                        class: 'dropdown-item header-inner__link user-dropdown-mnu__link'
                - else
                  li.nav-item.user-list__item
                    = link_to 'Sign In', new_user_session_path, class: 'header-inner__link user-list__signin-up user-list__link'
                    = link_to new_user_session_path
                      i.fa.fa-sign-in aria-hidden="true"

                  li.nav-item.user-list__item
                    = link_to 'Sign Up', new_user_registration_path, class: 'header-inner__link user-list__signin-up user-list__link'
                    = link_to new_user_registration_path
                      i.fa.fa-user-plus aria-hidden="true"
