<!DOCTYPE html>
<html>
  <head>
    <title>RandomNewsletter</title>
    <%= csrf_meta_tags %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans|Raleway:400,700,900" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <section class="newsletters">
      <div class="container">
        <%= render 'layouts/flash_messages' if flash.present? %>
        <div class="row">
          <% if render_side_menu? %>
            <div class="col-sm-9">
              <%= yield %>
            </div>
            <div class="col-sm-3">
              <!-- TODO -->
            </div>
          <% else %>
            <%= yield %>
          <% end %>
        </div>
      </div>
    </sectiion>
    <!-- Fontawesome icons -->
    <script src="https://use.fontawesome.com/ffe9ee26ec.js"></script>
  </body>
</html>
